{% extends "base.html" %}

{% block inhalt %}
<h1>Kundenliste</h1>
<table>
    <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th>Telefon</th>
        <th>Aktionen</th>
    </tr>
    {% for kunde in kunden %}
    <tr>
        <td>{{ kunde["name"] }}</td>
        <td>{{ kunde["email"] }}</td>
        <td>{{ kunde["telefon"] }}</td>
        <td>
            <a href="/bearbeiten/{{ kunde['id'] }}" class="btn btn-blau">Bearbeiten</a>
            <a href="/loeschen/{{ kunde['id'] }}" class="btn btn-rot">Löschen</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}